body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(143, 195, 255, 0.3);
}
.memeform {
  position: relative;

  font-size: 12px;
  border: 2px solid rgb(67, 104, 29);
  border-radius: 2px;
  margin: 0 10px;
  padding: 5px;
}
.memeform label {
  font-weight: bold;
  margin: 10px;
  /* border: 2px solid rgba(143, 195, 255, 0.3);
  border-radius: 2px; */
}
.memeform input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* width: 0 auto; */
}
.button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  /* margin: 10px 10px;
  padding: 5px; */
}
.memeform .forminput {
  margin: 10px;
  width: 100%;
}
h1 {
  text-align: center;
  color: chocolate;
}
/* .input {
  width: 100%;
  margin: 1px;
 
} */
#memes {
  position: relative;
  display: flex;
  justify-content: center;
  /* width: 200px;
  height: 200px; */
  margin-top: 10px;
}
.meme {
  width: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}
.meme img {
  width: 100%;
}
.memetxt {
  display: flex;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  margin: 0 auto;
  text-align: center;
  color: greenyellow;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}
.top {
  top: 10px;
}

.bottom {
  bottom: 10px;
}
